<p>If you invested that $<input type="number" ng-model="price"> you're spending,<p>
<p>It would be worth ${{fv}} in <input type="number" ng-model="years"> years at <input type="number" ng-model="rate">%</p>